.Logo-img {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 80px;
}

.Logo-img-react {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 90px;
}

.Logo-img-node {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 150px;
}

.Logo-img-tab {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 130px;
}